*.iml
.gradle
/local.properties
/.idea/assetWizardSettings.xml
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.kotlin
/app/release
/app/google-services.json
/wear/release
/wear/google-services.json