<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.REQUEST_COMPANION_PROFILE_WATCH" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_START_FOREGROUND_SERVICES_FROM_BACKGROUND" />

    <uses-feature
        android:name="android.software.companion_device_setup"
        android:required="false" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MEDIA_BUTTON" />
        </intent>
        <intent>
            <action android:name="android.media.browse.MediaBrowserService" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_sleeptimer"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher"
        tools:ignore="GoogleAppIndexingWarning">

        <activity-alias
            android:name=".LaunchActivity"
            android:targetActivity=".SleepTimerActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity android:name=".SleepTimerActivity" />

        <activity
            android:name=".wearable.WearPermissionsActivity"
            android:theme="@style/AppTheme" />

        <service
            android:name=".services.TimerService"
            android:exported="false"
            android:enabled="true"
            android:foregroundServiceType="systemExempted" />

        <service
            android:name=".wearable.WearableDataListenerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />

                <data
                    android:scheme="wear"
                    android:host="*" />
            </intent-filter>
        </service>

        <service
            android:name=".services.QSTileService"
            android:enabled="@bool/enable_qstile_service"
            android:label="@string/title_sleeptimer"
            android:icon="@drawable/ic_logo"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>

    </application>

</manifest>